.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
.demo-card-image.mdl-card {
  display: inline-block;
  border-radius: 50%;
  width: 130px;
  min-height: 120px;
  height: 100px;
  background: url('./image/12003024_990194737690606_8483151046034548230_n.jpg') no-repeat 50% 0%;
}
.card-view{
  width: 130px;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-event.mdl-card {
  width: 430px;
  margin:10px;
  height: 300px;
  display: inline-block;
  background: #757474;
  border-radius: 10%;
}
.customers-card-event.mdl-card {
  width: 160px;
  margin:10px;
  height: 300px;
  display: inline-block;
  background: #757474;
}
.demo-card-event > .mdl-card__actions, .customers-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title, .customers-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4, .customers-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions, .customers-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons, .customers-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.customers-card-event > .mdl-card__title,
.customers-card-event > .mdl-card__actions,
.customers-card-event > .mdl-card__actions > .mdl-button,
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.skills{
  background-color: #3E4EB8;
  color: #FFF;
  border: 1px solid #fff;
}
.pager{

}
.current-page{
  background: rgba(63,81,181, 0.7)!important;
}
.mentors-container{
  display: inline-block;
  width: 70%;
}
.filters-container{
  display: inline-block;
  width: 29%;
  vertical-align: top;
  text-align: left;
}
.pager-condainer{
  margin-left: 40%;
}
.label-for-container{
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.demo-list-three {
  /*width: 650px;*/
}




.mdl-layout__header {
	overflow: hidden;
	position: fixed;
}

.mdl-layout__header-row {
	background-color: rgba(240, 240, 240, .1);
}

.demo-layout-transparent {
    background: url('images/background.jpg') center / cover;

}

.demo-layout-transparent .mdl-layout__header {
  	color: white;
}

.demo-layout-transparent .mdl-layout-title {
	font: bold 300% monospace;
	text-shadow: 4px 4px 5px black;
	text-transform: uppercase;
}


.demo-layout-transparent .mdl-navigation__link {
    font: bold 210% monospace;
	text-shadow: 1px 1px 2px black;
}

.mdl-layout__content--who {
	margin: 200px 35px 0 35px;
	padding: 15px 15px 45px 15px;
	text-align: justify;
	width: 50%;
	height: 150px;
	font: normal 130% monospace;
	color: black;
	background-color: rgba(240, 240, 240, .4);
}

.mdl-layout__content--why {
	margin: 300px 35px 75px 35px;
	padding: 15px;
	text-align: justify;
	width: 50%;
	height: 170px;
	font: normal 140% monospace;
	color: black;
	background-color: rgba(240, 240, 240, .4);
}

.mdl-layout__content--who span,
.mdl-layout__content--why span{
	font-weight: bold;
}

.mdl-mega-footer {
	background-color: rgba(240, 240, 240, .3);
}

.mdl-mega-footer span {
	font-size: 120%;
	font-weight: bold;
}

.mdl-mega-footer__one {
	display: flex;
	justify-content: flex-start;
	margin-top: 50px;
	font: normal 100% monospace;
}

.mdl-mega-footer__bottom-section {
	margin-top: -30px;
	text-align: center;
	font: normal 100% monospace;
}


a:hover {
	text-decoration: underline;
}
.comands-users-container{
  margin: 5px 10px;
  width: 230px;
}
.comands-container{
  display:inline-block;
  border-radius: 10%;
  width:230px;
  margin: 50px 40px;
}
	text-decoration: underline;
}

body
{
	 background-image: url(images/background_profile.jpg);
}

.mdl-list__item-text-body
{
  background: rgba(255,255,255, 0.64);

  border-radius: 25px;
}

.name_chat
{
    background: #f5f5f5;
}

.filters_container_back
{
	background:	#DCDCDC;
	border-radius:40px 10px;
	padding: 10px;
	}}
.mdl-list__item--three-line .mdl-list__item-text-body{
      height: 30px;
      padding: 10px;
}
.author-meessage-name{
  color:#fff;
}
